<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form 表单</title>
</head>
<body>
    <form action="../../../form.php" method="post">
        Name:&nbsp;&nbsp;<input type="text" name="username"/><br/>
        Email:&nbsp;&nbsp;<input type="text" name="email"/><br/>
        Beer: <br />
        <select multiple name="beer[]">
            <option value="warthog">Warthog</option>
            <option value="guinness">Guinness</option>
            <option value="stuttgarter">Stuttgarter Schwabenbräu</option>
        </select><br />
            <input type="submit" value="Submit Me!"/>
<!--        <input type="image" src="image.gif" name="sub" />-->
    </form>

<!--    <form action="#" method="post">-->
<!--        Name:&nbsp;&nbsp;<input type="text" name="username"/><br/>-->
<!--        Email:&nbsp;&nbsp;<input type="text" name="email"/><br/>-->
<!--        Beer: <br />-->
<!--        <select multiple name="beer[]">-->
<!--            <option value="warthog">Warthog</option>-->
<!--            <option value="guinness">Guinness</option>-->
<!--            <option value="stuttgarter">Stuttgarter Schwabenbräu</option>-->
<!--        </select><br />-->
<!--        <input type="submit" value="Submit Me!"/>-->
<!--        &lt;!&ndash;        <input type="image" src="image.gif" name="sub" />&ndash;&gt;-->
<!--    </form>-->
</body>
</html>
<script type="text/javascript">
    var form = document.forms[0].elements['beer[]'];
    console.log(form);
    console.log(document.forms[0].elements);
    console.log(document.forms[0].elements['username']);
</script>
