<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form 表单</title>
    <script src="https://s3.pstatp.com/toutiao/tmajssdk/jssdk-1.0.1.js"></script>

</head>
<body>
<div id="test" class="test" onclick="backApplet()"></div>
    <form action="http://beian.139w.com/cx.php" method="post">
        Name:&nbsp;&nbsp;<input type="text" name="username"/><br/>

            <input type="submit" value="Submit Me!"/>
<!--        <input type="image" src="image.gif" name="sub" />-->
    </form>

<!--    <form action="#" method="post">-->
<!--        Name:&nbsp;&nbsp;<input type="text" name="username"/><br/>-->
<!--        Email:&nbsp;&nbsp;<input type="text" name="email"/><br/>-->
<!--        Beer: <br />-->
<!--        <select multiple name="beer[]">-->
<!--            <option value="warthog">Warthog</option>-->
<!--            <option value="guinness">Guinness</option>-->
<!--            <option value="stuttgarter">Stuttgarter Schwabenbräu</option>-->
<!--        </select><br />-->
<!--        <input type="submit" value="Submit Me!"/>-->
<!--        &lt;!&ndash;        <input type="image" src="image.gif" name="sub" />&ndash;&gt;-->
<!--    </form>-->
</body>
</html>
<script>
    var form = document.forms[0].elements['beer[]'];
    console.log(form);
    console.log(document.forms[0].elements);
    console.log(document.forms[0].elements['username']);
    const isTTWebView = navigator.userAgent
        .toLowerCase()
        .includes("toutiaomicroapp");
    console.log(isTTWebView)
    var div = document.getElementById('test');
    div.innerHTML = div.innerText + navigator.userAgent;

    if (isTTWebView) {
            div.innerHTML = div.innerText+'在小程序中打开';
        } else {
            div.innerHTML = div.innerText+'？？？';
        }

    function backApplet() {
        tt.miniProgram.navigateTo({
            url: '/pages/pay/pay'
        });
    }
    (function () {
        // 发送postMessage1
        tt.miniProgram.postMessage({
            data: {
                mes: "postMessage1",
                callback: () => {
                    console.log("网页消息");
                },
            },
        });
        // 发送postMessage2
        tt.miniProgram.postMessage({
            data: {
                mes: "postMessage2",
            },
        });
        // 发送postMessage3
        tt.miniProgram.postMessage({
            data: {
                mes: "postMessage3",
            },
        });
    })();

</script>
